* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

.clearfix {
    overflow: auto;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

html {
    scroll-behavior: smooth;
}

.container {
    width: 70%;
    margin: auto;
}

p {
    font-size: 16px;
    font-weight: normal;
}

#banner {
    width: 100%;
    background-image: url('../img/banner5.jpg');
    background-size: contain;
    min-height:763px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #000;
}

h1 {
    font-size: 20px;
    color: #fff;
    padding: 10px 0 10px 15%;
    background-color: #000;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.1em;
    font-size: 50px;
}

#intro {
    width: 40%;
    padding: 80px 0;
    position: absolute;
    z-index: 9999;
    top: 23%;
    left: 15%;
}

#intro :nth-child(1) {
    font-size: 35px;
}

#intro :nth-child(2) {
    font-size: 70px;
    margin-bottom: 20px;
}

#intro a {
    color: #fff;
    padding: 10px 15px;
    background-color: #000;
    float: left;
    margin-top: 15px;
}

#tags {
    margin-top: 30px;
}

#tags nav {
    float: left;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    width: 100%;
}

header nav {
    width: 35%;
    float: left;
}

header h1 {
    width: 65%;
    float: left;
}

header nav ul li {
    width: 20%;
    background-color: #000;
    color: #fff;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav ul li {
    font-size: 12px;
    width: 15%;
    list-style: none;
    background-color: #fff;
    color: #000;
    padding: 8px;
    margin: 10px 10px 0px 0px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

#results-wrapper {
    padding-top: 120px;
    background-color: #000;
}

#results-wrapper h3,
#results-wrapper h2 {
    color: #fff;
}

#tags h2 {
    width: 100%;
}

#headertags {
    display: flex;
    border-bottom: 3px solid #fff;
}

#headertags p {
    color: #fff;
}

#search {
    width: 50%;
    display: flex;
    margin-top: 20px;
    text-align: center;
}

#search input {
    width: 90%;
    height: 5%;
    padding: 15px;
    border: none;
}

#search p {
    float: right;
    padding: 5px 15px 15px 15px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid #fff;
    height: 57.5%;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

#results {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    padding-bottom: 80px;
}


#results figure {
    background-color: #fff;
    width: 29%;
    background-color: #000;
    position: relative;
    margin-top: 80px;
}

figure img {
    width: 100%;
}

.img-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.genre-disp {
    background-color: #fff;
    color: #000;
    padding: 5px;
    text-transform: capitalize;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.description {
    font-size: 0.9rem;
}

.video-length{
    font-size: 0.8rem;
}

figcaption {
    color: #000;
}

.amount {
    width: 16%;
    height: 100%;
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    font-weight: medium;
    padding-top: 2px;
}

.selected {
    background-color: rgb(169, 48, 48);
}

#tags h3 {
    margin-top: 30px;
}

#removefilters {
    cursor: pointer;
    list-style: none;
    color: #fff;
    font-size: 0.85rem;
    margin-top: 5px;
}

#over {
    color: #000;
    padding: 15% 8% 14% 8%;
}

#over p,
#over h2 {
    width: 80%;
    margin: 0 auto 20px auto;
}