*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

main{
    width: 70%;
    margin: 50px auto;
}

p{
    font-size: 14px;
    font-weight: normal;
}

header{
    padding: 20px 0 5px 0;
    background-image: url('/img/banner_edit.jpg');
    background-position: 0% 0%;
    background-size: contain;
    min-height: 250px;
}

h1{
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
    margin-left: 15%;
}

h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.1em;;
}

#intro :nth-child(1){
    font-size: 35px;
    margin-top: 20px;
}

#intro :nth-child(2){
    font-size: 70px;
    margin-bottom: 20px;
}

#intro img{
    width: 100%;
    max-height: 200px;
}

#tags{
    margin-top: 30px;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav ul li {
    font-size: 12px;
    width: 15%;
    list-style: none;
    background-color: #000;
    color: #fff;
    padding: 8px;
    margin: 10px 10px 0px 0px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

#results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#results figure{
    width: 31%;
    margin-top: 30px;
}

figure img{
    width: 100%;
}

.amount{
    width: 16%;
    height: 100%;
    float: right;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-weight: medium;
    padding-top: 2px;
}

.selected{
    background-color: blue;
}

.hidden{
    display: none;
}

#tags h3{
    margin-top: 30px;
}